/*タブレット向けデザイン*/
@media all and (max-width: 1035px) {
    .my-picture {
        border-radius: 50%;
        width:  250px;
        height: 250px;
        margin-top: 20px;
        margin-left: 50px;
    }

    .introduce{
        padding-top: 105px;
        padding-left: 100px;
        padding-right: 75px;
        border-bottom: 5px solid red;
    }

    .introduce h1{
        font-size: 48px;
    }

    .introduce p{
        font-size: 26px;
    }

}

@media all and (max-width: 840px){
    .header-list a{
        margin-left: 15px;
    }
    .introduce h1{
        font-size: 38px;
    }
    
    .introduce p{
        font-size: 20px;
    }

}

/*スマホ向けデザイン*/
@media all and (max-width: 670px) {
    .introduce{
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 75px;
        border-bottom: 5px solid red;
    }
    .my-picture {
        border-radius: 50%;
        width:  250px;
        height: 250px;
        margin-top: 20px;
        margin-left: 50px;
    }
    
    .introduce h1{
        font-size: 28px;

    }
    
    .introduce p{
        font-size: 15px;
    }

    .profile{
        margin-left: 0px;
    }

    .career{
        margin-left: 0px;
    }
    
    .core{
        margin-left: 0px;
    }

    .IT{
        margin-left: 0px;
    }

    .kisya{
        margin-left: 0px;
    }
}
